Generating Frequent Itemsets

In [51]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [25]:
orders_prior_df = pd.read_csv('./datasets/order_items__prior.csv',nrows=100000)
orders_prior_df = orders_prior_df.drop(columns=['add_to_cart_order','reordered'])

products_df = pd.read_csv('./datasets/product_catalog.csv')
products_df = products_df.drop(columns=['aisle_id','department_id'])

orders_prior_df = orders_prior_df.merge(products_df,on='product_id')
orders_prior_df.head()

   order_id  product_id           product_name
0         2       33120     Organic Egg Whites
1         2       28985  Michigan Organic Kale
2         2        9327          Garlic Powder
3         2       45918         Coconut Butter
4         2       30035      Natural Sweetener

In [ ]:
items_list = orders_prior_df.groupby('order_id')['product_name'].apply(list).reset_index()
items_list.head()

   order_id                                       product_name
0         2  [Organic Egg Whites, Michigan Organic Kale, Ga...
1         3  [Total 2% with Strawberry Lowfat Greek Straine...
2         4  [Plain Pre-Sliced Bagels, Honey/Lemon Cough Dr...
3         5  [Bag of Organic Bananas, Just Crisp, Parmesan,...
4         6  [Cleanse, Dryer Sheets Geranium Scent, Clean D...

In [35]:
te = TransactionEncoder()
te_arry = te.fit_transform(items_list['product_name'])
df = pd.DataFrame(te_arry,columns =te.columns_)
df.head()

,#2 Coffee Filters,& Go! Hazelnut Spread + Pretzel Sticks,0 Calorie Strawberry Dragonfruit Water Beverage,0% Fat Black Cherry Greek Yogurt y,0% Fat Blueberry Greek Yogurt,0% Fat Free Organic Milk,0% Fat Organic Greek Vanilla Yogurt,0% Fat Superfruits Greek Yogurt,0% Greek Strained Yogurt,0% Greek Yogurt Black Cherry on the Bottom,...,of Hanover 100 Calorie Pretzels Mini,of Norwich Original English Mustard Powder Double Superfine,smartwater® Electrolyte Enhanced Water,vitaminwater® XXX Acai Blueberry Pomegranate,w/Banana Pulp Free Juice,with Crispy Almonds Cereal,with Olive Oil Mayonnaise,with Olive Oil Mayonnaise Dressing,with Xylitol Cinnamon 18 Sticks Sugar Free Gum,with Xylitol Minty Sweet Twist 18 Sticks Sugar Free Gum
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [52]:
frequent_itemset =apriori(df,min_support=0.01,use_colnames=True)
frequent_itemset['length'] = frequent_itemset['itemsets'].apply(lambda x:len(x))
frequent_itemset

      support                                      itemsets  length
0    0.012041                      (100% Raw Coconut Water)       1
1    0.018362                      (100% Whole Wheat Bread)       1
2    0.012242                         (2% Reduced Fat Milk)       1
3    0.026992                    (Apple Honeycrisp Organic)       1
4    0.018964                                   (Asparagus)       1
..        ...                                           ...     ...
111  0.018663                (Organic Strawberries, Banana)       2
112  0.013345                        (Strawberries, Banana)       2
113  0.012543  (Organic Baby Spinach, Organic Strawberries)       2
114  0.011640  (Organic Hass Avocado, Organic Strawberries)       2
115  0.010034   (Organic Raspberries, Organic Strawberries)       2

[116 rows x 3 columns]

In [56]:
rules = association_rules(frequent_itemset,metric='lift',min_threshold=1.0)
rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].sort_values('lift', ascending=False)

,antecedents,consequents,support,confidence,lift
26,(Organic Raspberries),(Organic Strawberries),0.010034,0.233100,2.948067
27,(Organic Strawberries),(Organic Raspberries),0.010034,0.126904,2.948067
8,(Honeycrisp Apple),(Banana),0.010134,0.385496,2.592345
9,(Banana),(Honeycrisp Apple),0.010134,0.068151,2.592345
5,(Organic Raspberries),(Bag of Organic Bananas),0.013145,0.305361,2.523409
4,(Bag of Organic Bananas),(Organic Raspberries),0.013145,0.108624,2.523409
15,(Organic Fuji Apple),(Banana),0.010134,0.363309,2.443145
14,(Banana),(Organic Fuji Apple),0.010134,0.068151,2.443145
2,(Organic Hass Avocado),(Bag of Organic Bananas),0.018964,0.295313,2.440368
3,(Bag of Organic Bananas),(Organic Hass Avocado),0.018964,0.156716,2.440368
24,(Organic Hass Avocado),(Organic Strawberries),0.011640,0.181250,2.292306
25,(Organic Strawberries),(Organic Hass Avocado),0.011640,0.147208,2.292306
23,(Organic Strawberries),(Organic Baby Spinach),0.012543,0.158629,2.189614
22,(Organic Baby Spinach),(Organic Strawberries),0.012543,0.173130,2.189614
21,(Banana),(Strawberries),0.013345,0.089744,1.935897
20,(Strawberries),(Banana),0.013345,0.287879,1.935897
11,(Banana),(Organic Avocado),0.015854,0.106613,1.867315
10,(Organic Avocado),(Banana),0.015854,0.277680,1.867315
1,(Organic Baby Spinach),(Bag of Organic Bananas),0.015754,0.217452,1.796950
0,(Bag of Organic Bananas),(Organic Baby Spinach),0.015754,0.130182,1.796950
6,(Bag of Organic Bananas),(Organic Strawberries),0.017058,0.140962,1.782774
7,(Organic Strawberries),(Bag of Organic Bananas),0.017058,0.215736,1.782774
18,(Organic Strawberries),(Banana),0.018663,0.236041,1.587301
19,(Banana),(Organic Strawberries),0.018663,0.125506,1.587301
13,(Banana),(Organic Baby Spinach),0.014850,0.099865,1.378470
12,(Organic Baby Spinach),(Banana),0.014850,0.204986,1.378470
16,(Organic Hass Avocado),(Banana),0.011038,0.171875,1.155807
17,(Banana),(Organic Hass Avocado),0.011038,0.074224,1.155807