QuickBasket EDA

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [4]:
orders_df = pd.read_csv('./datasets/order_metadata.csv')
orders_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [5]:
orders_df.shape

(3421083, 7)

In [6]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [7]:
orders_df.isnull().sum()

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [35]:
orders=orders_df['order_id'].nunique()
print(orders)

3421083

In [9]:
total_customers = orders_df['user_id'].nunique()
print(total_customers)

206209

task:1 Q2

In [10]:
products_df= pd.read_csv('./datasets/product_catalog.csv')
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [11]:
products_df.shape

(49688, 4)

In [12]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [13]:
products_df.isnull().sum()

product_id       0
product_name     0
aisle_id         0
department_id    0
dtype: int64

In [14]:
total_products= products_df['product_id'].nunique()
total_aisles = products_df['aisle_id'].nunique()
total_departments = products_df['department_id'].nunique()

print('Number of products:',total_products)
print('Number of aisles:',total_aisles)
print('Number of departments:',total_departments)

Number of products: 49688
Number of aisles: 134
Number of departments: 21

In [15]:
order_prior_df = pd.read_csv('./datasets/order_items__prior.csv')
aisle_df = pd.read_csv('./datasets/aisle_info.csv')
department_df = pd.read_csv('./datasets/department_info.csv')

In [16]:
merged_df= order_prior_df.merge(products_df,on='product_id')
merged_df= merged_df.merge(aisle_df,on='aisle_id')
merged_df= merged_df.merge(department_df,on='department_id')

In [23]:
merged_df.head()

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,2,33120,1,1,Organic Egg Whites,86,16,eggs,dairy eggs
1,2,28985,2,1,Michigan Organic Kale,83,4,fresh vegetables,produce
2,2,9327,3,0,Garlic Powder,104,13,spices seasonings,pantry
3,2,45918,4,1,Coconut Butter,19,13,oils vinegars,pantry
4,2,30035,5,0,Natural Sweetener,17,13,baking ingredients,pantry

In [17]:
frequent_orders = merged_df['product_name'].value_counts().head(20)
print(frequent_orders)

product_name
Banana                      472565
Bag of Organic Bananas      379450
Organic Strawberries        264683
Organic Baby Spinach        241921
Organic Hass Avocado        213584
Organic Avocado             176815
Large Lemon                 152657
Strawberries                142951
Limes                       140627
Organic Whole Milk          137905
Organic Raspberries         137057
Organic Yellow Onion        113426
Organic Garlic              109778
Organic Zucchini            104823
Organic Blueberries         100060
Cucumber Kirby               97315
Organic Fuji Apple           89632
Organic Lemon                87746
Apple Honeycrisp Organic     85020
Organic Grape Tomatoes       84255
Name: count, dtype: int64

In [21]:
top_aisles = merged_df['aisle'].value_counts()

In [22]:
top_departments=merged_df['department'].value_counts()

In [ ]:
total_orders= order_prior_df.groupby('product_id')['reordered'].count()
total_reorders=order_prior_df.groupby('product_id')['reordered'].sum()

reorder_rate = (total_reorders/total_orders).reset_index()
reorder_rate.columns=['product_id','reorder_rate']
reorder_df=reorder_rate.merge(products_df,on='product_id')

top_reorder_rate = reorder_df.sort_values('reorder_rate',ascending=False)
print(top_reorder_df.head())

   product_id  reorder_rate  \
0           1      0.613391
1           2      0.133333
2           3      0.732852
3           4      0.446809
4           5      0.600000

                                        product_name  aisle_id  department_id
0                         Chocolate Sandwich Cookies        61             19
1                                   All-Seasons Salt       104             13
2               Robust Golden Unsweetened Oolong Tea        94              7
3  Smart Ones Classic Favorites Mini Rigatoni Wit...        38              1
4                          Green Chile Anytime Sauce         5             13